{% extends 'my_university/home.html' %}
{% block title %}
<title>َAll Students</title>
{% endblock %}

{% block content %}
{% if classes %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="text-center"> نام دانشجوها</th>

        </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td class="text-center"><a href="{% url 'my_university:show_all_lessons' class.student_id %}">{{ class.student__name }} {{ class.student__last_name }}</a></td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}