{% extends 'my_university/home.html' %}
{% block title %}
   <title>All lessons</title>

{% endblock %}
{% block content %}


    {% if classes %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="text-center"> نام درس ها</th>

        </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td class="text-center"><a href="{% url 'my_university:show_lesson_student' class.lesson_id %}">{{ class.lesson__name }}</a></td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endif %}


{% endblock %}